## 4.2.1 pandasの概要

# 4.2 pands

### pandasとは

### Seriesとは

### DataFrameとは

In [2]:
import pandas as pd
ser = pd.Series([10,20,30,40])
ser

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
df = pd.DataFrame([[10,"a",True],
                 [20,"b",False],
                 [30,"c",False],
                 [40,"d",True]])
df

    0  1      2
0  10  a   True
1  20  b  False
2  30  c  False
3  40  d   True

### DataFrameの概要

In [11]:
import numpy as np
df = pd.DataFrame(np.arange(100).reshape(25,4))
# 前頭から何(8)行を表示する
df.head(8)
# 末尾から何(8)行を表示する
df.tail(8)
# DataFrameのサイズ
df.shape

(25, 4)