## 4.2.4 時系列データ

In [1]:
import numpy as np
import pandas as pd

In [4]:
# 1ヶ月分のデータを作成
dates = pd.date_range(start="20200501",end="20200531")
dates

DatetimeIndex(['2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04',
               '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08',
               '2020-05-09', '2020-05-10', '2020-05-11', '2020-05-12',
               '2020-05-13', '2020-05-14', '2020-05-15', '2020-05-16',
               '2020-05-17', '2020-05-18', '2020-05-19', '2020-05-20',
               '2020-05-21', '2020-05-22', '2020-05-23', '2020-05-24',
               '2020-05-25', '2020-05-26', '2020-05-27', '2020-05-28',
               '2020-05-29', '2020-05-30', '2020-05-31'],
              dtype='datetime64[ns]', freq='D')

In [6]:
# 日付をインデックスして、乱数をカラムしたDataFrameを作成
np.random.seed(123)
df = pd.DataFrame(np.random.randint(1,31,31),index=dates,columns=["乱数"])
df

            乱数
2020-05-01  14
2020-05-02   3
2020-05-03  29
2020-05-04   3
2020-05-05   7
2020-05-06  18
2020-05-07  20
2020-05-08  11
2020-05-09  28
2020-05-10  26
2020-05-11  23
2020-05-12   2
2020-05-13   1
2020-05-14  18
2020-05-15  16
2020-05-16  10
2020-05-17   1
2020-05-18  15
2020-05-19   1
2020-05-20  16
2020-05-21  26
2020-05-22  20
2020-05-23  15
2020-05-24  30
2020-05-25   5
2020-05-26   1
2020-05-27  17
2020-05-28   5
2020-05-29  18
2020-05-30  24
2020-05-31   4

In [7]:
# 1年分のデータを作成
dates = pd.date_range(start="20200501", periods=365)
dates

DatetimeIndex(['2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04',
               '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08',
               '2020-05-09', '2020-05-10',
               ...
               '2021-04-21', '2021-04-22', '2021-04-23', '2021-04-24',
               '2021-04-25', '2021-04-26', '2021-04-27', '2021-04-28',
               '2021-04-29', '2021-04-30'],
              dtype='datetime64[ns]', length=365, freq='D')

In [8]:
# 日付をインデックスして、乱数をカラムしたDataFrameを作成
np.random.seed(123)
df = pd.DataFrame(np.random.randint(1,31,365),index=dates,columns=["乱数"])
df

            乱数
2020-05-01  14
2020-05-02   3
2020-05-03  29
2020-05-04   3
2020-05-05   7
2020-05-06  18
2020-05-07  20
2020-05-08  11
2020-05-09  28
2020-05-10  26
2020-05-11  23
2020-05-12   2
2020-05-13   1
2020-05-14  18
2020-05-15  16
2020-05-16  10
2020-05-17   1
2020-05-18  15
2020-05-19   1
2020-05-20  16
2020-05-21  26
2020-05-22  20
2020-05-23  15
2020-05-24  30
2020-05-25   5
2020-05-26   1
2020-05-27  17
2020-05-28   5
2020-05-29  18
2020-05-30  24
...         ..
2021-04-01   8
2021-04-02  13
2021-04-03  30
2021-04-04   9
2021-04-05  22
2021-04-06  24
2021-04-07  24
2021-04-08  15
2021-04-09  15
2021-04-10  24
2021-04-11  29
2021-04-12  22
2021-04-13  17
2021-04-14  17
2021-04-15  15
2021-04-16  25
2021-04-17  16
2021-04-18  18
2021-04-19  17
2021-04-20  15
2021-04-21  15
2021-04-22  21
2021-04-23  12
2021-04-24  16
2021-04-25  27
2021-04-26  22
2021-04-27   5
2021-04-28  22
2021-04-29   1
2021-04-30   8

[365 rows x 1 columns]

In [9]:
# 毎月の平均値
df.groupby(pd.Grouper(freq='M')).mean()

                   乱数
2020-05-31  13.774194
2020-06-30  13.033333
2020-07-31  16.580645
2020-08-31  14.935484
2020-09-30  15.600000
2020-10-31  14.129032
2020-11-30  15.633333
2020-12-31  15.580645
2021-01-31  17.451613
2021-02-28  15.750000
2021-03-31  12.806452
2021-04-30  17.466667

In [11]:
# 引数のカラムを乱数に固定して、毎月の平均値を出力
df.loc[:,"乱数"].resample('M').mean()

2020-05-31    13.774194
2020-06-30    13.033333
2020-07-31    16.580645
2020-08-31    14.935484
2020-09-30    15.600000
2020-10-31    14.129032
2020-11-30    15.633333
2020-12-31    15.580645
2021-01-31    17.451613
2021-02-28    15.750000
2021-03-31    12.806452
2021-04-30    17.466667
Freq: M, Name: 乱数, dtype: float64

### [Grouper](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Grouper.html)

### 複雑な条件のインデックス

In [13]:
# 1年分の土曜日の日付データを作成
pd.date_range(start="20200101", end="20201231",freq="W-SAT")

DatetimeIndex(['2020-01-04', '2020-01-11', '2020-01-18', '2020-01-25',
               '2020-02-01', '2020-02-08', '2020-02-15', '2020-02-22',
               '2020-02-29', '2020-03-07', '2020-03-14', '2020-03-21',
               '2020-03-28', '2020-04-04', '2020-04-11', '2020-04-18',
               '2020-04-25', '2020-05-02', '2020-05-09', '2020-05-16',
               '2020-05-23', '2020-05-30', '2020-06-06', '2020-06-13',
               '2020-06-20', '2020-06-27', '2020-07-04', '2020-07-11',
               '2020-07-18', '2020-07-25', '2020-08-01', '2020-08-08',
               '2020-08-15', '2020-08-22', '2020-08-29', '2020-09-05',
               '2020-09-12', '2020-09-19', '2020-09-26', '2020-10-03',
               '2020-10-10', '2020-10-17', '2020-10-24', '2020-10-31',
               '2020-11-07', '2020-11-14', '2020-11-21', '2020-11-28',
               '2020-12-05', '2020-12-12', '2020-12-19', '2020-12-26'],
              dtype='datetime64[ns]', freq='W-SAT')

In [19]:
df_year = pd.DataFrame(df.groupby(pd.Grouper(freq='W-SAT')).sum(),columns=['乱数'])
df_year

             乱数
2020-05-02   17
2020-05-09  116
2020-05-16   96
2020-05-23   94
2020-05-30  100
2020-06-06   76
2020-06-13  123
2020-06-20  132
2020-06-27   48
2020-07-04   91
2020-07-11  123
2020-07-18  113
2020-07-25   89
2020-08-01  135
2020-08-08  115
2020-08-15  133
2020-08-22   99
2020-08-29   78
2020-09-05  109
2020-09-12  126
2020-09-19   73
2020-09-26   98
2020-10-03  112
2020-10-10   99
2020-10-17   89
2020-10-24  110
2020-10-31  107
2020-11-07  137
2020-11-14   73
2020-11-21  120
2020-11-28   99
2020-12-05  113
2020-12-12   75
2020-12-19  125
2020-12-26  106
2021-01-02  122
2021-01-09  186
2021-01-16  116
2021-01-23  123
2021-01-30   96
2021-02-06  120
2021-02-13   68
2021-02-20  125
2021-02-27  108
2021-03-06   79
2021-03-13   77
2021-03-20   74
2021-03-27  118
2021-04-03  122
2021-04-10  133
2021-04-17  141
2021-04-24  114
2021-05-01   85